@use '../../scss/' as *;

.container {
    width: $width-modal;
    height: $height-modal;
    text-align: center;
    padding: 25px 43px;

    .content {
        padding: 0 80px 20px;
        border-bottom: 1px solid #00000029;

        h3 {
            font-size: 2rem;
            line-height: 27px;
            font-weight: 800;
            margin-bottom: 30px;
        }

        img {
            width: 50px;
            height: 57px;
            margin-bottom: 16px;
        }

        p {
            padding: 0 10px;
            font-size: 1.6rem;
            line-height: 21px;
        }
    }

    .btn {
        padding-top: 20px;
        text-align: right;

        button {
            padding: 13px 18px;
            border-radius: $border-radius-2;
            color: $white-txt-color;
            background-color: $grey-bg-color;

            &:hover {
                opacity: .8;
            }
        }

        .save {
            background-color: $main-color;
            margin-right: 2rem;

            &:first-child {
                background-color: #064EBC;
            }
        }
    }
}