@use '../../scss/' as *;
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-family;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $font-family;
    background-color: $white-txt-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark-txt-color;
}

input, textarea {
    font-family: $font-family;
    font-size: 1.5rem;
    resize: none;
}

.App {
    width: 100vw;
    height: 100vh;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .image {
        width: 5rem;
        height: 5rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .name {
        flex: 1;

        .name-top {
            display: flex;
            justify-content: space-between;

            p {
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        p {
            font-size: 1.8rem;
            margin-bottom: 4px;
            line-height: 24px;
        }
        
        span {
            font-size: 1.5rem;
            color: #5B7083;
        }
    }
}

.description {
    min-height: 60px;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-img {
    height: 175px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}