.container {
    width: 100%;
    text-align: center;
    margin-top: 70px;

    h3 {
        color: #064EBC;
        font-size: 2.5rem;
        line-height: 33px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 24px;
        color: black;
    }
}