@use '../../scss/' as *;

.card {
    max-width: $width-card;
    height: $height-card;
    border-radius: $border-radius-2;
    box-shadow: $box-shadow;
    padding: 22px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .card-header {

        .right {
            display: flex;
            gap: 1.7rem;

            .edit {
                color: $main-color;
            }

            .remove {
                color: red;
            }

            button {
                &:hover {
                    opacity: .6;  
                }
            }
        }
    }
}