@use '../../scss/' as *;

    .container {
        width: 514px;
        min-height: 380px;
        background-color: $body-bg;
        border-radius: $border-radius-2;
        box-shadow: $box-shadow;
        padding: 25px 40px;

        .title {
            text-align: center;
            font-size: 1.6rem;
        }

        .form {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            border-bottom: 1px solid $grey-bg-color;

            .upload {
                display: flex;
                align-items: center;

                label {
                    font-size: 1.4rem;
                    font-weight: 400;
                    width: 25%;

                    span {
                        color: #F3115E;
                    }
                }

                .error {
                    color: red;
                }

                .input {
                    width: 70%;

                    .input-label {
                        cursor: pointer;
                        width: 100%;
                        display: flex;
                        
                        .icon {
                            color: $main-color;
                            font-size: 1.6rem;
                        }

                        p {
                            display: inline-block;
                            width: 100%;
                            padding-left: .5rem;
                            font-size: 1.2rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    input {
                        width: 100%;
                        padding: .5rem;
                        border: 1px solid $grey-bg-color;
                        border-radius: 6px;
                    }

                    .input-error {
                        border-color: red;
                    }

                    .error {
                        font-size: 1.2rem;
                        color: red;

                        .icon {
                            color: red;
                        }
                    }
                }
            }
        }

        .btn {
            padding-top: 1.6rem;
            text-align: right;

            button {
                padding: 1.2rem 1.6rem;
                border-radius: $border-radius-1;
                color: $white-txt-color;
                background-color: $grey-bg-color;

                &:hover {
                    opacity: .8;
                }
            }

            .save {
                background-color: $main-color;
                margin-right: 2rem;

                &:first-child {
                    background-color: #3085d6;
                }
            }
        }
    }