@use '../../scss/' as *;

.container {
    padding: 20px 80px;
    
    .header {
        text-align: center;
        font-size: 35px;
        font-weight: 47px;
        margin-bottom: 40px;
    }

    .body {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .body-image {
            margin-top: 5px;
            width: 100%;
            height: 350px;
            text-align: center;

            img {
                width: 800px;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .bottom {
        margin-top: 32px;
        .interact {
            font-size: 22px;
            display: flex;
            align-items: center;
            gap: 2.5rem;
            margin-bottom: 30px;
        
            .icon {
                display: flex;
                align-items: center;
                gap: .5rem;
                cursor: pointer;

                span {
                    font-size: 1.5rem;
                    line-height: 20px;
                }

                svg {
                    flex-shrink: 0;
                }
            }
        }

        .comments {
            border-top: 1px solid $grey-bg-color;
            border-bottom: 1px solid $grey-bg-color;
            padding: 30px 0;

            .comment {
                font-weight: 400;
                padding-bottom: 20px;

                &:last-child {
                    padding-bottom: 0;
                }
                
                p {
                    font-size: 1.5rem;
                    line-height: 20px;

                    &:first-child {
                        color: #5B7083;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .post {
            margin-top: 30px;
            margin-bottom: 160px;
            position: relative;

            h3 {
                margin-bottom: 15px;
                font-size: 1.8rem;
                font-weight: 700;
            }
        
            textarea {
                width: 100%;
                min-height: 150px;
                margin-bottom: 1rem;
                padding: 20px;
                border-radius: $border-radius-2;
                font-size: 1.3rem;
                color: #D9D9D9;
                border-color: #D9D9D9;

                &:focus {
                    color: #000;
                }
            }
        
            .error {
                border-color: #F3115E;
            }
        
            button {
                position: absolute;
                bottom: 20px;
                right: 20px;
                padding: 8px;
                padding: 1.3rem 2.5rem;
                color: #ffffff;
                border-radius: 10px;
                box-shadow: 0px 3px 6px #00000029;
                background-color: $main-color;
                display: block;
                margin-left: auto;
            }
        }
    }
}