$body-bg: #ffffff;
$main-color: #3e6ae1;
$grey-bg-color: #dfdfdf;
$bg-color: #f4f4f4;

$dark-txt-color: #171a20;
$white-txt-color: #ffffff;
$grey-txt-color: #767676;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$border-radius-1: 12px;
$border-radius-2: 10px;

$width-card: 357px;
$height-card: 370px;

// $mobile-width: 768px;
// $tablet-width: 1024px;
// $large-tablet-width: 1280px;

$font-family: 'Poppins', sans-serif;