@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

$body-bg: #ffffff;
$main-color: #3e6ae1;
$grey-bg-color: #dfdfdf;
$bg-color: #f4f4f4;

$dark-txt-color: #171a20;
$white-txt-color: #ffffff;
$grey-txt-color: #767676;

$box-shadow: 0px 3px 6px #00000029;

$border-radius-1: 12px;
$border-radius-2: 10px;

$width-card: 370px;
$height-card: 364px;

$width-modal: 514px;
$height-modal: 306px;

$font-family: 'Segoe UI', sans-serif;